<!DOCTYPE html>
<html>
  <head>
    <title>${title}</title>    
    {{html headStyles}}
    {{html headScripts}}
  </html>
  <body>
    <div class="container">
      <header>
        <h1><a href="/"><img src="/images/helmet.png" width="36" height="36" />${title}</a></h1>
        <section id="auth">
          {{if everyauth.loggedIn}}
            <img src="${everyauth.yahoo.user.image.imageUrl}" width="28" height="28" />
            <a href="/sandbox" class="btn">Sandbox</a>
            <a href="/logout" class="btn">Log-out</a>
          {{/if}}
        </section>
      </header>
      {{html body}}
    </div>
    {{html footerScripts}}
  </body>
<html>
